
.centered {
  min-width: 300px;
  max-height: 320px;
  padding: 20px 30px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -158px;
}

.SubmitButton{
  margin-top: 20px;
}

.text-center{
  border-top: 8px solid #0078d7;
  text-align: left;
  line-height: 38px;
  color: #0078d7;
}

.pull-down {
  vertical-align: bottom;
}