
.centered {
  min-width: 300px;
  max-height: 320px;
  padding: 20px 30px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -158px;
}

.SubmitButton{
  margin-top: 20px;
}

.text-center{
  text-align: left;
  color: #005a9e;
}

.pull-down {
  vertical-align: top;
}