<div class="centered">
    <div class="ms-font-xxl ms-fontWeight-semibold text-center">
        <i class="ms-Icon ms-Icon--Hospital pull-down" aria-hidden="true"></i>
        Hospita<span class="Header-Title ms-font-xxl">Lite</span>
    </div>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="ms-TextField" [class.has-error]="f.submitted && !username.valid">
            <label class="ms-Label" for="username"></label>
            <input [(ngModel)]="model.username" #username="ngModel" placeholder="Username" required class="ms-TextField-field" type="text"
                name="username">
            <div *ngIf="f.submitted && !username.valid" class="ms-TextField-description">Username is required</div>
        </div>
        <div class="ms-TextField" [class.has-error]="f.submitted && !password.valid">
            <label class="ms-Label" for="password"></label>
            <input [(ngModel)]="model.password" placeholder="Password" #password="ngModel" required class="ms-TextField-field" type="password"
                name="password">
            <div *ngIf="f.submitted && !password.valid" class="ms-TextField-description">Password is required</div>
        </div>
        <div class="SubmitButton">
            <button class="ms-Button ms-Button--primary" [disabled]="loading">
            <span class="ms-Button-label">Login</span>
            </button>
        </div>
    </form>
</div>