<div class="centered">
    <div class="ms-font-xxl ms-fontWeight-semibold ms-font--blue">Hospita<span class="Header-Title ms-font-xxl">Lite</span></div>

    <div class="ms-TextField">
        <label class="ms-Label">User Name</label>
        <input class="ms-TextField-field" type="text">
    </div>

    <div class="ms-TextField">
        <label class="ms-Label">Password</label>
        <input class="ms-TextField-field" type="password">
    </div>


    <button class="ms-Button" (click)="login($event)">
        <span class="ms-Button-label">Login</span>
    </button>
</div>