<h2 class="ms-font-xl">Sample Data List</h2>
<div class="ms-SearchBox  ">
  <input class="ms-SearchBox-field" type="text" value="">
  <label class="ms-SearchBox-label">
      <i class="ms-SearchBox-icon ms-Icon ms-Icon--Search"></i>
      <span class="ms-SearchBox-text">Search</span>
    </label>
  <div class="ms-CommandButton ms-SearchBox-clear ms-CommandButton--noLabel  ">
    <button class="ms-CommandButton-button">
      <span class="ms-CommandButton-icon "><i class="ms-Icon ms-Icon--Clear"></i></span><span class="ms-CommandButton-label"></span>  </button>
  </div>
</div>
<div class="PropertiesTable">
  <div class="ms-Viewport" style="min-width:1px;min-height:1px;">
    <div class="ms-DetailsList is-fixed is-horizontalConstrained" data-automationid="DetailsList" data-is-scrollable="false"
      role="">
      <div role="grid">
        <div role="presentation">
          <div role="row" class="ms-DetailsHeader" data-automationid="DetailsHeader">
            <div class="ms-FocusZone" data-focuszone-id="FocusZone49">
              <div class="ms-DetailsHeader-cellWrapper" role="columnheader"></div>
              <div class="ms-DetailsHeader-cellSizeWrapper">
                <div class="ms-DetailsHeader-cellWrapper" role="columnheader"><button class="ms-DetailsHeader-cell is-actionable" style="width: 205px;" aria-haspopup="false" aria-label="Name"
                    aria-sort="none" data-automationid="ColumnsHeaderColumn" data-item-key="name" tabindex="0"><span>Name</span></button></div>
                <div data-sizer-index="0" class="ms-DetailsHeader-cell is-sizer"></div>
              </div>
              <div class="ms-DetailsHeader-cellSizeWrapper">
                <div class="ms-DetailsHeader-cellWrapper" role="columnheader"><button class="ms-DetailsHeader-cell is-actionable" style="width:746px;" aria-haspopup="false" aria-label="Description"
                    aria-sort="none" data-automationid="ColumnsHeaderColumn" data-item-key="description" tabindex="0"><span>Description</span></button></div>
                <div data-sizer-index="1" class="ms-DetailsHeader-cell is-sizer"></div>
              </div>
            </div>
          </div>
        </div>
        <div role="presentation">
          <div class="ms-FocusZone" data-focuszone-id="FocusZone50">
            <div class="ms-SelectionZone">
              <div class="ms-List">
                <div class="ms-List-surface">
                  <div class="ms-List-page">
                    <div class="ms-List-cell" data-list-index="0" data-automationid="ListCell">
                      <div role="row" class="ms-DetailsRow ms-u-fadeIn400" data-is-focusable="true" data-selection-index="0" data-item-index="0"
                        data-is-draggable="false" data-automationid="DetailsRow" style="min-width:1012px;" aria-selected="false"
                        tabindex="0">
                        <div class="ms-FocusZone" data-focuszone-id="FocusZone60">
                          <div class="ms-DetailsRow-fields" data-automationid="DetailsRowFields">
                            <div role="rowheader" class="ms-DetailsRow-cell" style="width: 189px;" data-automationid="DetailsRowCell" data-automation-key="name">away</div>
                            <div role="gridcell" class="ms-DetailsRow-cell" style="width:730px;" data-automationid="DetailsRowCell" data-automation-key="description"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ms-List-cell" data-list-index="1" data-automationid="ListCell">
                      <div role="row" class="ms-DetailsRow ms-u-fadeIn400" data-is-focusable="true" data-selection-index="1" data-item-index="1"
                        data-is-draggable="false" data-automationid="DetailsRow" style="min-width:1012px;" aria-selected="false">
                        <div class="ms-FocusZone" data-focuszone-id="FocusZone61">
                          <div class="ms-DetailsRow-fields" data-automationid="DetailsRowFields">
                            <div role="rowheader" class="ms-DetailsRow-cell" style="width: 189px;" data-automationid="DetailsRowCell" data-automation-key="name">blocked</div>
                            <div role="gridcell" class="ms-DetailsRow-cell" style="width:730px;" data-automationid="DetailsRowCell" data-automation-key="description"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ms-List-cell" data-list-index="2" data-automationid="ListCell">
                      <div role="row" class="ms-DetailsRow ms-u-fadeIn400" data-is-focusable="true" data-selection-index="2" data-item-index="2"
                        data-is-draggable="false" data-automationid="DetailsRow" style="min-width:1012px;" aria-selected="false"
                        tabindex="0">
                        <div class="ms-FocusZone" data-focuszone-id="FocusZone62">
                          <div class="ms-DetailsRow-fields" data-automationid="DetailsRowFields">
                            <div role="rowheader" class="ms-DetailsRow-cell" style="width: 189px;" data-automationid="DetailsRowCell" data-automation-key="name">busy</div>
                            <div role="gridcell" class="ms-DetailsRow-cell" style="width:730px;" data-automationid="DetailsRowCell" data-automation-key="description"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ms-List-cell" data-list-index="3" data-automationid="ListCell">
                      <div role="row" class="ms-DetailsRow ms-u-fadeIn400" data-is-focusable="true" data-selection-index="3" data-item-index="3"
                        data-is-draggable="false" data-automationid="DetailsRow" style="min-width:1012px;" aria-selected="false">
                        <div class="ms-FocusZone" data-focuszone-id="FocusZone63">
                          <div class="ms-DetailsRow-fields" data-automationid="DetailsRowFields">
                            <div role="rowheader" class="ms-DetailsRow-cell" style="width: 189px;" data-automationid="DetailsRowCell" data-automation-key="name">dnd</div>
                            <div role="gridcell" class="ms-DetailsRow-cell" style="width:730px;" data-automationid="DetailsRowCell" data-automation-key="description"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ms-List-cell" data-list-index="4" data-automationid="ListCell">
                      <div role="row" class="ms-DetailsRow ms-u-fadeIn400" data-is-focusable="true" data-selection-index="4" data-item-index="4"
                        data-is-draggable="false" data-automationid="DetailsRow" style="min-width:1012px;" aria-selected="false">
                        <div class="ms-FocusZone" data-focuszone-id="FocusZone64">
                          <div class="ms-DetailsRow-fields" data-automationid="DetailsRowFields">
                            <div role="rowheader" class="ms-DetailsRow-cell" style="width: 189px;" data-automationid="DetailsRowCell" data-automation-key="name">none</div>
                            <div role="gridcell" class="ms-DetailsRow-cell" style="width:730px;" data-automationid="DetailsRowCell" data-automation-key="description"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ms-List-cell" data-list-index="5" data-automationid="ListCell">
                      <div role="row" class="ms-DetailsRow ms-u-fadeIn400" data-is-focusable="true" data-selection-index="5" data-item-index="5"
                        data-is-draggable="false" data-automationid="DetailsRow" style="min-width:1012px;" aria-selected="false">
                        <div class="ms-FocusZone" data-focuszone-id="FocusZone65">
                          <div class="ms-DetailsRow-fields" data-automationid="DetailsRowFields">
                            <div role="rowheader" class="ms-DetailsRow-cell" style="width: 189px;" data-automationid="DetailsRowCell" data-automation-key="name">offline</div>
                            <div role="gridcell" class="ms-DetailsRow-cell" style="width:730px;" data-automationid="DetailsRowCell" data-automation-key="description"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ms-List-cell" data-list-index="6" data-automationid="ListCell">
                      <div role="row" class="ms-DetailsRow ms-u-fadeIn400" data-is-focusable="true" data-selection-index="6" data-item-index="6"
                        data-is-draggable="false" data-automationid="DetailsRow" style="min-width:1012px;" aria-selected="false">
                        <div class="ms-FocusZone" data-focuszone-id="FocusZone66">
                          <div class="ms-DetailsRow-fields" data-automationid="DetailsRowFields">
                            <div role="rowheader" class="ms-DetailsRow-cell" style="width: 189px;" data-automationid="DetailsRowCell" data-automation-key="name">online</div>
                            <div role="gridcell" class="ms-DetailsRow-cell" style="width:730px;" data-automationid="DetailsRowCell" data-automation-key="description"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>