<div class="ms-CommandBar">
    <div class="ms-CommandBar-mainArea">
        <div class="ms-CommandButton">
            <button class="ms-CommandButton-button" (click)="submitForm()">
                <span class="ms-CommandButton-icon ms-fontColor-themePrimary">
                    <i class="ms-Icon ms-Icon--Save"></i>
                </span>
                <span class="ms-CommandButton-label">Save</span>
            </button>
        </div>
        <div class="ms-CommandButton">
            <button class="ms-CommandButton-button" [routerLink]="['/home/settings/users']">
                <span class="ms-CommandButton-icon ms-fontColor-themePrimary">
                    <i class="ms-Icon ms-Icon--Undo"></i>
                </span>
                <span class="ms-CommandButton-label">Cancel</span>
            </button>
        </div>
    </div>
</div>
<div class="access-group-details">
    <h2>User Details</h2>
    <dynamic-form [fields]="fields" #form="dynamicForm"></dynamic-form>
    <h3>Access Groups</h3>
    <div class="ms-CheckBox ms-TextField" *ngFor="let group of user.accessGroups" (click)="toggleCheckBox(group)">
        <input type="checkbox" class="ms-CheckBox-input">
        <label role="checkbox" [class.is-checked]="group.isAccessible" [attr.aria-checked]="group.isAccessible" class="ms-CheckBox-field">
            <span class="ms-Label">{{group.name}}</span>
        </label>
    </div>
</div>