<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let field of fields" class="form-row">
        <dynamic-field [field]="field" [form]="form"></dynamic-field>
    </div>
    <div class="form-row">
        <button type="submit" class="ms-Button ms-Button--primary" [disabled]="!form.valid">
            <span class="ms-Button-label">Save</span>
        </button>
    </div>
</form>
<div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
</div>