<form (ngSubmit)="form.valid && onSubmit()" [formGroup]="form" novalidate>
    <dynamic-field *ngFor="let field of fields" [field]="field" [form]="form" [submitted]="submitted"></dynamic-field>
    <div class="form-row">
        <button type="submit" (click)="submitButtonClick()" class="ms-Button ms-Button--primary">
            <span class="ms-Button-label">Save</span>
        </button>
    </div>
</form>
<div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
</div>