<div id="Header" class="ms-bgColor-themeDark">
    <div [routerLink]="['/home']" class="Header-Title ms-font-xl ms-fontColor-white ms-fontWeight-semibold">
        <i class="ms-Icon ms-Icon--Hospital" aria-hidden="true"></i> Hospita
        <span class="Header-Title ms-font-xl">Lite</span></div>
    <div class="Header-buttons">
        <div class="ms-ContextualMenu-basic">
            <div class="Header-button ms-fontColor-white">
                Account
            </div>
            <ul class="ms-ContextualMenu is-hidden">
                <li class="ms-ContextualMenu-item ">
                    <a class="ms-ContextualMenu-link" tabindex="1">Animals</a>
                </li>
                <li class="ms-ContextualMenu-item ">
                    <a class="ms-ContextualMenu-link " tabindex="1">Books</a>
                </li>
                <li class="ms-ContextualMenu-item ">
                    <a class="ms-ContextualMenu-link" tabindex="1">Education</a>
                </li>
                <li class="ms-ContextualMenu-item ">
                    <a class="ms-ContextualMenu-link" tabindex="1">Music</a>
                </li>
                <li class="ms-ContextualMenu-item ">
                    <a routerLink="/login" class="ms-ContextualMenu-link" tabindex="1">Logout</a>
                </li>
            </ul>
        </div>

    </div>
</div>