/* Reset */
html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  height: 100%;
  font-family: 'Roboto Regular', 'Roboto', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  /* background-color: #eeeeee; */
  color: #535353;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

content {
  position:absolute;
  top: 47px;
  left:0px;
  right:0px;
  bottom: 0;
  overflow-y:scroll;  
  overflow-x: auto;
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch; 
}

html[dir=ltr] content {
  left: 240px;
  right: 0;
}

html[dir=ltr] .ms-Nav-groupButton {
  text-align: left;
}

html[dir=ltr] .ms-Nav-groupChevron.ms-Icon {
  left: 218px;
}

html[dir=ltr] .sidebarContainer {
  left: 0;
}

html[dir=rtl] content {
  left: 0;
  right: 240px;
}

html[dir=rtl] .ms-Nav-groupChevron.ms-Icon {
  right: 15px;
}

html[dir=rtl] .ms-Nav-groupButton {
  text-align: right;
}

html[dir=rtl] .sidebarContainer {
  right: 0;
}

html[dir=rtl] .LinkContainer a.is-selected:after {
  border-right: 2px solid black;
  border-left: 0px;
}


.sidebarContainer {
  padding-top: 20px;
  position: absolute;
  width: 240px;
  top: 47px;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
  -moz-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
  -o-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
  -ms-box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
  background: #ffffff;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.ms-Nav-groupButton .ms-Icon {
  margin-right: 8px;
  font-size: large;
  vertical-align: bottom;
}

.ms-Link .ms-Icon {
  margin-right: 8px;
  font-size: large;
  vertical-align: bottom;
}

.sidebarSection {
  padding-left: 10px;
}

.sidebarContainer h1 {
  padding-left: 25px;
}

.ms-Nav-groupChevron.ms-Icon {
  position: absolute;
  height: 40px;
  left: 150px;
  line-height: 40px;
  font-size: 10px;
  font-weight: bold;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear,-webkit-transform 0.1s linear;
}

.ms-Nav-group.is-expanded .ms-Nav-groupChevron {
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}

.ms-Nav-group.is-expanded .ms-Nav-groupButton {
  background-color: rgba(33, 33, 33, 0.1);  
}

.ms-Nav-groupButton {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  background-color: #ffffff;
  font-family: 'Roboto Regular','Roboto', 'Segoe UI','-apple-system','BlinkMacSystemFont','Helvetica Neue','sans-serif';
  padding: 0 18px;
  border: none;
  cursor: pointer;
  color: #535353;  
  outline: transparent;
}

.ms-Nav-groupButton:hover {
  background-color: rgba(33, 33, 33, 0.1);
}

.ms-Nav-groupContent {
  display: none;
  margin-bottom: 5px;
}

.ms-Nav-group.is-expanded .ms-Nav-groupContent {
  display: block;
}

.ms-u-slideDownIn20 {
  animation-name: fade,slideDownIn20;
  -webkit-animation-duration: 367ms;
     -moz-animation-duration: 367ms;
      -ms-animation-duration: 367ms;
       -o-animation-duration: 367ms;
  animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
  animation-fill-mode: both;
}


.LinkContainer {
  position: relative;
}

.LinkContainer a {
  position: relative;
  display: block;
  padding: 8px 10px 8px 16px;
  color: #535353;  
  font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.LinkContainer a:hover {
  background-color: rgba(33, 33, 33, 0.1);
  color: #535353;  
}

.LinkContainer a.is-selected {
  background-color: rgba(33, 33, 33, 0.1);
  position: relative;
  color: #535353;  
}

.LinkContainer a.is-selected:after {
  content: '';
  position: absolute;
  border-left: 4px solid #005a9e;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contentBox {
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(33,33,33,.2);
  -webkit-box-shadow: 0 1px 3px rgba(33,33,33,.2);
  -moz-box-shadow: 0 1px 3px rgba(33,33,33,.2);
  -o-box-shadow: 0 1px 3px rgba(33,33,33,.2);
  -ms-box-shadow: 0 1px 3px rgba(33,33,33,.2);
}