/* Reset */
html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  height: 100%;
  font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

content {
  position:absolute;
  top: 47px;
  left:0px;
  right:0px;
  bottom: 0;
  overflow-y:scroll;  
  overflow-x: auto;
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch; 
}

html[dir=ltr] content {
  left: 250px;
  right: 0;
}

html[dir=ltr] .ms-Nav-groupButton {
  text-align: left;
}

html[dir=ltr] .ms-Nav-groupChevron.ms-Icon {
  left: 15px;
}

html[dir=ltr] #SidebarContainer {
  border-right: 1px solid #eeeeee;
  left: 0;
}

html[dir=rtl] content {
  left: 0;
  right: 250px;
}

html[dir=rtl] .ms-Nav-groupChevron.ms-Icon {
  right: 15px;
}

html[dir=rtl] .ms-Nav-groupButton {
  text-align: right;
}

html[dir=rtl] #SidebarContainer {
  border-left: 1px solid #eeeeee;
  right: 0;
}

html[dir=rtl] .LinkContainer a.is-selected:after {
  border-right: 2px solid black;
  border-left: 0px;
}

#SidebarContainer {
  position: absolute;
  width: 240px;
  top: 47px;
  bottom: 0;
  background: #ffffff;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#SidebarContainer h1 {
  padding-left: 25px;
}

.ms-Nav-groupChevron.ms-Icon {
  position: absolute;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear,-webkit-transform 0.1s linear;
}

.ms-Nav-group.is-expanded .ms-Nav-groupChevron {
  -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
}

.ms-Nav-groupButton {
  display: block;
  width: 100%;
  height: 40px;
  font-family: 'Segoe UI Regular WestEuropean','Segoe UI',Tahoma,Arial,sans-serif;
  font-size: 12px;
  line-height: 40px;
  margin: 5px 0;
  padding: 0 40px;
  background: 0 0;
  border: none;
  border-bottom: 1px solid #eaeaea;
  text-transform: uppercase;
  cursor: pointer;
  color: #333333;
  background: #ffffff;
  outline: transparent;
}

.ms-Nav-groupButton:hover {
  background: #f8f8f8;
}

.ms-Nav-groupContent {
  display: none;
  margin-bottom: 20px;
}

.ms-Nav-group.is-expanded .ms-Nav-groupContent {
  display: block;
}

.ms-u-slideDownIn20 {
  animation-name: fade,slideDownIn20;
  -webkit-animation-duration: 367ms;
     -moz-animation-duration: 367ms;
      -ms-animation-duration: 367ms;
       -o-animation-duration: 367ms;
  animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
  animation-fill-mode: both;
}


.LinkContainer {
  margin-bottom: 20px;
}

.LinkContainer a {
  display: block;
  padding: 10px 40px;
}

.LinkContainer a.is-selected {
  background-color: #f4f4f4;
  position: relative;
  color: #333333;
}

.LinkContainer a.is-selected:after {
  content: '';
  position: absolute;
  border-left: 2px solid black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}