<div class="ms-CommandBar">
    <div class="ms-CommandBar-mainArea">

        <div class="ms-CommandButton">
            <button class="ms-CommandButton-button" [routerLink]="['new']">
                <span class="ms-CommandButton-icon ms-fontColor-themePrimary">
                    <i class="ms-Icon ms-Icon--CirclePlus"></i>
                </span>
                <span class="ms-CommandButton-label">New</span>
            </button>
        </div>
        <div class="ms-CommandButton" [class.is-hide]="isNoSelection">
            <button class="ms-CommandButton-button" (click)="openDeleteDialog()">
                <span class="ms-CommandButton-icon ms-fontColor-themePrimary">
                    <i class="ms-Icon ms-Icon--Delete"></i>
                </span>
                <span class="ms-CommandButton-label">Delete</span>
            </button>
        </div>

    </div>
</div>
<div class="listItem">
    <ul class="ms-List">
        <li #ListHeader [class.is-selected]="isAllSelected" class="ms-ListItem header-listItem is-selectable" >
            <span class="ms-fontSize-xl">Users</span>
            <div (click)="toggleAllSelection()" class="ms-ListItem-selectionTarget"></div>
        </li>
        <li *ngFor="let user of users" [class.is-selected]="user.isSelected" class="ms-ListItem is-selectable">
            <a [routerLink]="[user.id]">
                <span class="ms-ListItem-primaryText">{{user.userName}}</span>
                <span class="ms-ListItem-secondaryText">{{user.fullName}}</span>
                <div (click)="toggleSelection(user, $event)" class="ms-ListItem-selectionTarget"></div>
            </a>
        </li>
    </ul>
</div>

<div class="ms-Dialog ms-Dialog--close" #dialog>
    <button class="ms-Dialog-button ms-Dialog-buttonClose">
      <i class="ms-Icon ms-Icon--Cancel"></i>
    </button>
    <div class="ms-Dialog-title">Delete Confirmation</div>
    <div class="ms-Dialog-content">
        <div class="ms-TextField">
            <label class="ms-Label">Are you sure want to delete selected users?</label>
        </div>
    </div>
    <div class="ms-Dialog-actions">
        <button class="ms-Button ms-Dialog-action ms-Button--primary">
        <span class="ms-Button-label">Yes</span> 
      </button>
        <button class="ms-Button ms-Dialog-action">
        <span class="ms-Button-label">Cancel</span> 
      </button>
    </div>
</div>