:host {
  display: block;
}

a:link{
  text-decoration: none;
}

.listItem {
  display: block;
  padding: 0 20px;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.ms-List {
  margin-bottom: 60px;
}

.is-hide {
  display: none;
}

.header-listItem {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0;
}
.header-listItem.is-selected {
  background-color: transparent;
}

.header-listItem:hover {
  background-color: transparent;
}

.ms-ListItem.is-selected::before, .ms-ListItem.is-selected:hover::before {
  top: 23px;
}

.ms-ListItem::before, .ms-ListItem:hover::before {
  top: 14px;
}
